<ion-app>
  <ion-split-pane when="lg" contentId="main">
    <ion-menu contentId="main" side="start">
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false"
            ><ion-item button
              ><ion-label>World</ion-label></ion-item
            ></ion-menu-toggle
          >
          <ion-menu-toggle auto-hide="false"
            ><ion-item button
              ><ion-label>Politics</ion-label></ion-item
            ></ion-menu-toggle
          >
          <ion-menu-toggle auto-hide="false"
            ><ion-item button
              ><ion-label>Business</ion-label></ion-item
            ></ion-menu-toggle
          >
          <ion-menu-toggle auto-hide="false"
            ><ion-item button
              ><ion-label>Opinion</ion-label></ion-item
            ></ion-menu-toggle
          >
          <ion-menu-toggle auto-hide="false"
            ><ion-item button
              ><ion-label>Tech</ion-label></ion-item
            ></ion-menu-toggle
          >
          <ion-menu-toggle auto-hide="false"
            ><ion-item button
              ><ion-label>Food</ion-label></ion-item
            ></ion-menu-toggle
          >
          <ion-menu-toggle auto-hide="false"
            ><ion-item button
              ><ion-label>Health</ion-label></ion-item
            ></ion-menu-toggle
          >
          <ion-menu-toggle auto-hide="false"
            ><ion-item button
              ><ion-label>Travel</ion-label></ion-item
            ></ion-menu-toggle
          >
        </ion-list>
      </ion-content>
    </ion-menu>
    ​
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
